@page "/passwordmanager"
@inject VaultController controller
@inject NavigationManager NavigationManager
@using PassHaven.Models
@rendermode InteractiveServer

<PageTitle>PassHaven</PageTitle>

<h1>Vaults</h1>

<ul>
    @foreach (var vault in Vaults)
    {
        <li>@vault.Name</li>
    }
</ul>

<button class="btn btn-primary" @onclick="CreateVault">Create a new password vault</button>
<button class="btn btn-primary" @onclick="EditVault">Edit password vault</button>
<button class="btn btn-primary" @onclick="DeleteVault">Delete password vault</button>

@code {
    List<Vault> Vaults = new List<Vault>();

    protected override async Task OnInitializedAsync()
    {
        Vaults = await controller.GetVaultsAsync();
    }

    private void CreateVault()
    {
        NavigationManager.NavigateTo("/createvault");
    }
    private void EditVault()
    {
        throw new NotImplementedException();
    }
    private void DeleteVault()
    {
        throw new NotImplementedException();
    }
}
